.activites_flex{

    margin-top: 100px;
    margin-bottom:100px;

}



.activites_cards{

    display:flex;
    gap:30px;
    margin-top: 40px;    
}

.activites_cards img{
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;  

}
.activites_cards .card{

    width:50%;
    padding: 0px;
}

.activites_cards .card-content{

    padding-left: 15px;
    
}

.activites_cards a{

    text-decoration: none;
    color: black;
}

.activites_cards .card{

   font-size: small;
}