.button-filtres :hover{

    background-color:#DEEBFF;
    opacity: 90%;
    
   
}

.button-filtres{
    display: flex;
    align-items: center;
    gap:20px;
    
 
}

.Filtres{
    display: flex; 
    justify-content:flex-start;
    gap:20px;
    flex-direction: row;
    margin-top: 20px; 
}

.economique-button{

    border-radius: 100px;
    border-width: 1px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color:#d9d9d9;
    border-style:solid;
    background-color: white;
}

.family-button{

    border-radius:100px;
    border-width: 1px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #d9d9d9;
    border-style:solid;
    background-color: white;
    
    
    
    

}

.romantique-button{

    border-radius:100px;
    border-width:1px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #d9d9d9;
    border-style: solid;
    background-color: white;
    
    
}

.pepites-button{

    border-radius:100px;
    border-width:1px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color:#d9d9d9;
    border-style:solid;
    background-color: white;
    
    
}


.button_message{
    padding-left: 10px;
    font-weight: 700;
    font-family: 'raleway';
}