.geolocalisation{

    display: flex;
    margin-top: 30px;
   
    
    
}


.geolocation-button{

    border: solid;
    border-width: 1px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    border-color: #F2F2F2;
    padding-left: 15px;
    padding-right: 15px;

}

.search-domain{

    padding: 15px;
    border: 1px solid var(--main-bg-color);    
    opacity: 200%;


}

.search-button{
    background-color:var(--main-color);
    padding:13px;
    color:var(--main-bg-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid;
    border-color: var(--main-color);
    font-weight: 700;
    margin-left: -10px;

}

.search-icon{ 
    display: none;
    border-radius: 15px;
    padding: 10px;
 }   

 .fa-magnifying-glass{

    color:#FFFFFF;
 }

 .fa-location-dot{
    color: black;
 }